In [3]:
a = map(int,input().split())
b = map(int,input().split())
m = list(set(a))
n = list(set(b))
print(len(m.union(n)))

2 3 4 5
4 5 6 7

AttributeError: 'list' object has no attribute 'union'

In [1]:
n = input()
set_n = set(map(int, input().split()))
b = input()
set_b = set(map(int, input().split()))
print(len(set_n.union(set_b)))

3
3 4 5
3
5 6 7
5

In [3]:
n = input()
set_n = set(map(int, input().split()))
b = input()
set_b = set(map(int, input().split()))
print(len(set_n.intersection(set_b)))

5
1 2 3 4 5
5
2 3 4 5 6
4

In [10]:
#mod dimode
a = int(input())
b = int(input())
c = a/b
print(int(c))
d = a%b
print(d)
print(divmod(a,b))

177
10
17
7
(17, 7)

In [11]:
#set-Difference
n = input()
set_n = set(map(int, input().split()))
b = input()
set_b = set(map(int, input().split()))
print(len(set_n.difference(set_b)))

4
1 2 3 4
4
1 3 5 7
2

In [16]:
#power_mod power problem
a = int(input())
b = int(input())
c = int(input())
print(pow(a,b))
print(pow(a,b,c))

3
4
5
81
1

In [19]:
#integers come in all sizes
a = int(input())
b = int(input())
c = int(input())
d = int(input())
e = pow(a,b)
f = pow(c,d)
print(e+f)

9
29
7
27
4710194409608608369201743232

In [18]:
4**5

1024

In [22]:
#symmetric
n = input()
set_n = set(map(int, input().split()))
b = input()
set_b = set(map(int, input().split()))
print(len(set_n ^ (set_b)))

3
1 2 3
3
3 4 5
4

In [3]:
#calander
import calendar
yy = int(input())
mm = int(input())
dd = int(input())
print(calendar.calendar(yy,mm,dd))

2017
2
3
                                  2017





      January                   February                   March


Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su


                   1             1  2  3  4  5             1  2  3  4  5


 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12


 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19


16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26


23 24 25 26 27 28 29      27 28                     27 28 29 30 31


30 31





       April                      May                       June


Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su


                1  2       1  2  3  4  5  6  7                1  2  3  4


 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11


10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18


17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25


24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30





        July                     August                  September


Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su


                1  2          1  2  3  4  5  6                   1  2  3


 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10


10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17


17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24


24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30


31





      October                   November                  December


Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su


                   1             1  2  3  4  5                   1  2  3


 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10


 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17


16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24


23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31


30 31